.testimonial{   
	background-color: rgba(255, 255, 255, .8); 
	width: 33.33%;
	margin-left: auto; 
	margin-right: auto; 
	padding:0 1.8125rem 1 1.8125rem; 
	
	&__photo{ 
		border-radius: 25px; 
		overflow: hidden; 
		width:100px; 
		height:75px; 
		margin:0 auto -35px auto; 
		position: relative; 
		top: -35px; 
		border: 3px solid rgba(255, 255, 255, .8);
		
	}
	
	&__title{ 
		color: $mainBlue; 
		text-align: center; 
		font-size: 1.5rem; 
		font-weight: 500; 
		margin:0;
	}
	
	&__subtitle{ 
		color: $mainOrange; 
		text-align: center; 
		font-size: 0.9375rem; 
		font-weight: 400; 
		margin: .25rem 0 1rem 0; 
	}
	&__text{
		margin:1rem; 
		padding-bottom: 1rem; 
		/*font-size:50px;*/
	}
}